@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@700&display=swap');
body {
  background-color:rgb(17, 24, 39);
}

h1 { 
  font-size: 1.5rem;
}
/* montserrat-regular - latin */
@font-face {
  font-family: 'Montserrat';
  font-style: bold;
  font-weight: 600;
  src: url('./fonts/montserrat-v15-latin-regular.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('./fonts/montserrat-v15-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('./fonts/montserrat-v15-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('./fonts/montserrat-v15-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('./fonts/montserrat-v15-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('./fonts/montserrat-v15-latin-regular.svg#Montserrat') format('svg'); /* Legacy iOS */
}



