$Welcome: #0f172a; 
$introductionDiv: #1e293b;
$HobbiesDiv: #0c4a6e;
$ProjectsDiv: #164e63;
.Welcome {
    background-color: transparent;
}

.IntroductionDiv {
    background-color: $introductionDiv;
}

.HobbiesDiv {
    background-color: $HobbiesDiv;
}

.ProjectsDiv {
    background-color: $ProjectsDiv;
}